<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<style type="text/css">
body {
	margin: 50px 0;
}

div.panel-body {
	border-bottom: 1px solid #ccc;
}

h2 {
	margin-top: 0;
}

div.actions form {
	display: inline-block;
}
</style>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Configure <span class="sr-only">(current)</span></a></li>
	        <li><a href="/series">Time series</a></li>
	      </ul>
	      </div>
	    </nav>
		<div class="row" th:if="${message}">
			<div class="col-lg-12">
				<div class="alert alert-info" th:text="${message}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Job List</div>
					<div th:each="job : ${configures}" class="panel-body">
						<table class="table">
							<tbody>
								<tr>
									<td width="20%">Name</td>
									<td th:text="${job.jobName}"></td>
								</tr>
								<tr>
									<td width="20%">Run Folder</td>
									<td th:text="${job.logFolder}"></td>
								</tr>
								<tr>
									<td width="20%">Start text</td>
									<td th:text="${job.startText}" />
								</tr>
								<tr>
									<td width="20%">End Text</td>
									<td th:text="${job.endText}" />
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">New Job</div>
					<div class="panel-body">
						<form th:action="@{/configure}" method="post">
							<div class="form-group">
								<label for="jobName">Job Name</label> <input type="text" name="jobName" class="form-control"
									placeholder="Job Name" />
							</div>
							<div class="form-group">
								<label for="logFolder">Input folder</label> <input type="text" name="logFolder" class="form-control"
									placeholder="Input folder" />
							</div>
							<div class="form-group">
								<label for="startText">Start Text</label> <input type="text" name="startText" class="form-control" placeholder="Start Text" />
							</div>
							<div class="form-group">
								<label for="endText">End Text</label> <input type="text" name="endText" class="form-control" placeholder="End Text" />
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>