<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Seri Report</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<style type="text/css">
body {
	margin: 50px 0;
}

div.panel-body {
	border-bottom: 1px solid #ccc;
}

h2 {
	margin-top: 0;
}

div.actions form {
	display: inline-block;
}
p { word-break: break-all }
</style>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style type="text/css">
${
demo
.css
}
</style>
<script th:inline="javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Time Series Reports'
        },
        subtitle: {
            text: 'The necessary time for handling request'
        },
        yAxis: {
            title: {
                text: 'Time lapse'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'ms'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: [[${SeriId}]],
            data: [[${SeriData}]]
        }]
    });
});
		</script>
</head>
<body>
	<script src="../../js/highcharts.js"></script>
	<script src="../../js/exporting.js"></script>
	<div class="container">
		<nav class="navbar navbar-default">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Configure</a></li>
	        <li><a href="/series">Time series </a></li>
	      </ul>
	      </div>
	    </nav>
		<div class="row">
			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Time Seri</div>
					<div class="panel-body">
						<table class="table">
							<tbody>
								<tr>
									<th width="5%">Index</th>
									<th width="20%">Seri Id</th>
									<th width="20%">Start Time</th>
									<th width="10%">Time lapse</th>
									<th width="10%" >Phone</th>
									<th width="10%" >Transaction Id</th>
									<th width="20%" >Log Data</th>
								</tr>
								<tr th:each="line : ${SeriObj.lineObjects}">
									<td width="5%" th:text="${lineStat.index}"></td>
									<td width="20%" th:inline="text"> <span>[[${line.seriId}]]</span></td>
									<td width="20%" th:text="${#calendars.format(line.date, 'yyyy-MM-dd hh:mm:ss,SSS')}"></td>
									<td width="10%" th:text="${line.duration}"></td>
									<td width="10%" th:text="${line.phone}"></td>
									<td width="10%" th:text="${line.transactionId}"></td>
									<td width="20%" th:inline="text"><p>[[${line.data}]]</p></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
